* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-colorbackground-color: #f2f2f2;
}
