* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("https://i.pinimg.com/736x/98/8e/a2/988ea21ebc691a1bdbfa1a140a336330--christmas-design-green-christmas.jpg");
}

img {
    height: 35%;
    width: 35%;
}

.mainPic {
    margin: 10px;
}