* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image: url("./xmas.jpg") */
}

img {
    height: 35%;
    width: 35%;
}

.mainPic {
    margin: 10px;
}