* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("https://i.pinimg.com/736x/98/8e/a2/988ea21ebc691a1bdbfa1a140a336330--christmas-design-green-christmas.jpg");
    z-index: 1000;
    align-content: center;
    text-align: center;
}

img {
    height: 70%;
    width: 70%;
}

.mainPic {
    margin: 10px;
}

/*

div {
    background-color: white;
    z-index: 5000;
    align-content: center;
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    min-width: 170px;
}

div.top {
    background-color: white;
    z-index: 5000;
    align-content: center;
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0px;
    margin-top: 50px;
}

div.bottom {
    background-color: white;
    z-index: 5000;
    align-content: center;
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    margin-top: 0px;
}

*/

hr {
    margin: 0px;
    color: black;
}

a {
    color: rgb(56, 56, 228);
}

#wrapper {
    background-color: white;
    z-index: 5000;
    align-content: center;
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    min-width: 170px;
}