<!DOCTYPE html>
<html>
<head>
  <title>[[TITLE]]</title>
  <link rel="stylesheet" type="text/css" href="../../styles.css">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script defer>
    // GitHub markdown API quirk - when you use `bash` syntax highlighting it generates `shell`.
    // `highlight.js` shell highlighting is awful, so change it to bash
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('.highlight-source-shell').forEach((element) => {
        element.classList.remove('highlight-source-shell');
        element.classList.add('highlight-source-bash');
      });
    });

    hljs.configure({
      // The GitHub markdown API generates `<div class="highlight"><pre>` instead of `<pre><code>`
      cssSelector: 'div.highlight pre, pre code',
      // The GitHub markdown API generates `highlight-source-<LANG>`
      languageDetectRe: /\bhighlight-source-([\w-]+)\b/i,
    });

    hljs.highlightAll();

    // For any element like "<h1>Foo bar baz<h1>", give it an id of 'foo-bar-baz' so relative links work
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('h1, h2, h3, h4, h5, h6').forEach((element) => {
        let title = element.textContent
        let id = title.toLowerCase().replaceAll(" ", "-")
        element.id = id
      });
    });
    
  </script>
</head>
<body>

  <header>
    <div class="header-container">
      <a href="/" class="back-home">
        <span class="arrow">&#8617;</span> Back Home
      </a>
      <h1>[[TITLE]]</h1>
      <div class="spacer"></div> <!-- empty spacer to balance the Back Home link -->
    </div>
  </header>

  <main>
    <article id="article-id" class="blog-article">
      [[BODY]]
    </article>
  </main>

  <footer>
    <div class="footer-container">
      <div class="footer-button">
        <a href="https://twitter.com/johnkdev" target="_blank">
          <i class="fab fa-twitter"></i> johnkdev
        </a>
      </div>
      <div class="footer-button">
        <a href="https://github.com/john-h-k" target="_blank">
          <i class="fab fa-github"></i> john-h-k
        </a>
      </div>
      <div class="footer-button">
        <a href="https://linkedin.com/in/johnharrykelly" target="_blank">
          <i class="fab fa-linkedin"></i> John Kelly
        </a>
      </div>
      <div class="footer-button">
        <a href="mailto:johnharrykelly@gmail.com" target="_blank">
          <i class="fas fa-envelope"></i> johnharrykelly@gmail.com
        </a>
      </div>
    </div>
  </footer>

</body>
</html>
